In [43]:
import pandas as pd
import numpy as np
import boto3
import seaborn as sns
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'boto3'

In [9]:
data1 = pd.read_csv('Netflix Userbase.csv')
data1.head()

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
0,1,Basic,10,15-01-22,10-06-23,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,05-09-21,22-06-23,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,28-02-23,27-06-23,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,10-07-22,26-06-23,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,01-05-23,28-06-23,Germany,33,Male,Smartphone,1 Month

In [10]:
data2 = pd.read_csv('shows.csv')
data2.head()

,title,type,titlereleased,rating,quality,actors,director,category,imdb,runtime,netflixid,date_released,description,4k,language
0,#blackAF,TV,2020,TV-MA,UltraHD,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",NaN,NaN,6.6,NaN,81056700,2020-04-17,Kenya Barris and his family navigate relations...,1,english
1,#cats_the_mewvie,TV,2020,TV-14,SuperHD,NaN,Michael Margolis,NaN,5.2,89,81218137,2020-02-05,This pawesome documentary explores how our fel...,0,english
2,#realityhigh,TV,2017,TV-14,UltraHD,"Nesta Cooper, Kate Walsh, John Michael Higgins...",Fernando Lebrija,NaN,5.2,99,80125979,2017-09-08,When nerdy high schooler Dani finally attracts...,1,english
3,#Rucker50,TV,2016,TV-G,SuperHD,NaN,Robert McCullough Jr.,NaN,5.3,56,80147908,2016-12-01,This documentary celebrates the 50th anniversa...,0,english
4,#Selfie,TV,2014,TV-MA,SuperHD,"Flavia Hojda, Crina Semciuc, Olimpia Melinte, ...",Cristina Jacob,NaN,6.1,125,81092768,2019-06-01,"Two days before their final exams, three teen ...",0,other

In [16]:
cleaned_data2 = data2.dropna()
cleaned_data2.to_csv('netflix_shows_cleaned.csv', index=False)

Catégoriser la durée en groupes

In [31]:
data2['runtime'] = data2['runtime'].str.extract('(\d+)').astype(float)

In [32]:
bins = [0, 30, 60, float('inf')]

In [33]:

labels = ['courte', 'moyenne', 'longue']  # Labels pour chaque groupe de durée

In [36]:
data2['duration_category'] = pd.cut(data2['runtime'], bins=bins, labels=labels, right=False)

In [37]:
data2.to_csv('netflix_shows_with_duration_category.csv', index=False)

Conversion de la qualité en format binaire :

In [38]:
# Convertir la qualité en format binaire
data2['is_4k'] = data2['quality'].apply(lambda x: 1 if x == '4K' else 0)

# Enregistrer les données avec la conversion de qualité en format binaire dans un nouveau fichier CSV
data2.to_csv('netflix_shows_with_binary_quality.csv', index=False)